.fas{
    margin: 3rem;
    font-size: 55px;
    color:#d48139;
}

#confirmation{
    @include flexBox(flex,column,space-around,center);
    h1{
    margin-top:-1rem;
    }
    p{
        font-family: 'Montserrat', sans-serif;
        font-weight:400;
        text-align: center;
        font-size:19px;
        width:80%;
    }
}