header{
    @include flexJustify(flex,row,space-between);
    background-color: #f3e9f1;
    height:100px;
    @include breakpoint(tablet){
        height:130px;
    }
}

img{
    margin-left:0.5rem;
    @include measure(45%,80px);
    @include breakpoint(tablet){
        height:120px;
    }
    @include breakpoint(laptop){
        @include measure(28%,130px);
        margin-left:2rem;
    }
}

nav{
    @include flexJustify(flex,row,space-around);
    width:48%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size:16px;
    @include breakpoint(tablet){
        font-size:25px;
    }
    @include breakpoint(laptop){
        width:35%;
    }
}